.headerContainer {
  width: 100vw;
  height: 100px;
  background-color: transparent;
  box-sizing: border-box;
  color: rgb(246, 249, 252);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navBlack {
  background-color: rgb(20, 20, 20);
  width: 100vw;
  height: 10%;
}

.navBlack h1 {
  color: #fff;
}

.navBlack .weatherInfo {
  color: #e6e6e6;
}

.weatherInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 0.2vw;
  /* padding-left: 1rem;
  padding-right: 0.5rem; */

  left: 250px;
  /* background-color: rgba(51, 51, 51, 0.5); */
  background-color: transparent;
  color: #3b3f44;
}

.btnContainer {
  width: 30vw;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 2rem;
}

.btnContainer button {
  color: #fff;
  margin: 0.5rem;
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  /* background-color: rgba(51, 51, 51, 0.5); */
  background-color: #3b3f44;
}

.btnContainer button:hover {
  color: #000;
  background-color: #fae2bb;
  transition: all 0.2s;
}

.logo {
  color: #3b3f44;
  font-size: 1.8rem;
}

@media only screen and (max-width: 600px) {
  .btnContainer {
    display: none;
  }
}
